{% extends "layouts/default.twig" %}

{% block breadcrump %}
    <li class="active">{{ 'siezi.phileAdminCache.title'|trans }}</li>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                {% if active %}
                    {{ 'siezi.phileAdminCache.cache.active'|trans({'%engine%': engine}) }}
                {% else %}
                    {{ 'siezi.phileAdminCache.cache.notActive'|trans }}
                {% endif %}
            </p>
        </div>
        {% if active %}
            <div class="panel-footer">
                <form action="" method="post">
                    {{ form_widget(form) }}
                    <input class="btn btn-primary" type="submit"
                           value="{{ 'siezi.phileAdminCache.btn.clear'|trans }}">
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
